---
layout: page
---
<!-- Top -->
<% site.posts.each(function(post){ %>
    <% if (post.top) { %>

        <div class="post-preview">

            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <span class="post-top">✪</span>&nbsp;<%- post.title || "Untitled" %>
                </h2>
                <h3 class="post-subtitle">
                    >>&nbsp;<%- post.subtitle || "" %>
                </h3>
                <div class="post-content-preview">
                    <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
                </div>
            </a>
            <% if (config.home_posts_tag){%>
                <p class="post-meta" style="margin: 10px 0;">
                    <span class="post-description">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <%- post.author || config.author %>
                    </span>
                    <span class="post-description">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <%= post.date.format(config.date_format) %>
                    </span>
                    
                </p>
                <div class="tags">
                    <% post.tags.forEach(function(tag){ %>
                      <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                    <% }) %>
                </div>
            <%} else {%>
                <p class="post-meta">
                    <span class="post-description">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <%- post.author || config.author %>
                    </span>
                    <span class="post-description">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <%= post.date.format(config.date_format) %>
                    </span>
                </p>
            <%}%>

        </div>
        <hr class="no-border">

    <% } %>
<% }); %>


<!-- Main Content -->
<% page.posts.each(function(post){ %>
    <% if (!post.top) { %>

        <div class="post-preview">

            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <%- post.title || "Untitled" %>
                </h2>
                <h3 class="post-subtitle">
                    >>&nbsp;<%- post.subtitle || "" %>
                </h3>
                <div class="post-content-preview">
                    <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
                </div>
            </a>
            <% if (config.home_posts_tag){%>
                <p class="post-meta" style="margin: 10px 0;">
                    <span class="post-description">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <%- post.author || config.author %>
                    </span>
                    <span class="post-description">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <%= post.date.format(config.date_format) %>
                    </span>
                </p>
                <div class="tags">
                    <% post.tags.forEach(function(tag){ %>
                      <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                    <% }) %>
                </div>
            <%} else {%>
                <p class="post-meta">
                    <span class="post-description">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <%- post.author || config.author %>
                    </span>
                    <span class="post-description">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <%= post.date.format(config.date_format) %>
                    </span>
                </p>
            <%}%>

        </div>
        <hr class="no-border">

    <% } %>
<% }); %>


<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

