<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">

                <% if (config.github_username) { %>
                    <li>
                        <a target="_blank" rel="noopener"  href="https://github.com/<%= config.github_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" rel="noopener" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" rel="noopener" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.zhihu_username) { %>
                    <li>
                        <a target="_blank" rel="noopener" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.weibo_username) { %>
                    <li>
                        <a target="_blank" rel="noopener" href="http://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank" rel="noopener"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.RSS) { %>
                    <li>
                        <a href="<%= config.root + 'feed.xml' %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; <%= config.author %> <%= new Date().getFullYear() %> 
                </p>
            </div>
        </div>
    </div>

</footer>

<!-- jQuery -->
<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.usebootstrap.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Js Widgets -->
<%- js({ src: '/js/widgets.js' }) %>


<!--fastClick.js -->
<script>
    async("https://nojsja.gitee.io/static-resources/libs/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>


<!-- Search -->
<% if (config['search']['enable']) { %>
    <script type="text/javascript">      
        var search_path = "<%= config.search.path %>";
        if (search_path.length == 0) {
            search_path = "search.xml";
        }
    var path = "<%= config.root %>" + search_path;
    searchFunc(path, 'local-search-input', 'local-search-result');
    </script>
<% } %>

<!-- busuanzi -->
<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
<%- js({ src: '/js/busuanzi.pure.mini.js', defer: true, async: true }) %>



