<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="GicLYNNqJJ-XBSPlE8Pz-ZwGf2ElS_d_VRcEsQServ4" />
    <meta name="google-site-verification" content="rn4dOdASKHwgOgBKFwN8nAB0OlnuC_pNB8qLDnMyPpc" />
    <meta name="baidu-site-verification" content="093lY4ziMu" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.favicon %>">

    <!-- pre actions -->
    <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
    <link href="http://busuanzi.ibruce.info" rel="preconnect" crossorigin>
    <link href="http://nojsja.gitee.io" rel="preconnect" crossorigin>

    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
          <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS --> 
    <%- css('css/dusign-light.css')%>

    <!-- git markdown code style (will be loaded in post) -->
    <% if ( is_post() ) { %> 
      <%- css('css/github-markdown.min.css')%>
    <% } %> 

    <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }
    
      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
    </style>
    
    <%- css('css/widget') %>

    <%- css('css/fonts.googleapis.css') %>

    <%- css('css/font-awesome.min.css') %>

    <!-- async load function -->
    <script>
      function async(u, c) {
        var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
      }
    </script>

    <%- js({ src: 'js/buttons.js', async: true, defer: true }) %>

</head>
